<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/footer.css"/>
    <title>Tallas</title>

</head>
<body>

<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080/users/home">Tenis perros </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"color aria-current="page" href="http://localhost:8080/users/home"
                    >Inicio</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/users/size">Tallas</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Contacto
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="http://localhost:8080/users/login">Registro</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="http://localhost:8080/users/email"
                            >Envianos un correo</a
                            >
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">



            </form>
        </div>
    </div>
</nav>
<br>
<hr class="border- color:blue border-4 opacity-100" />
<p>  1- https://es.stackoverflow.com/questions/173959/cambiar-color-de-texto-de-navbar-bootstrap4
    <br>
    2- https://www.youtube.com/watch?v=6tWtNYsqXL4
    <br>
    3- https://www.freecodecamp.org/espanol/news/como-alinear-texto-en-html-ejemplo-de-text-align-center-y-justified/
    <br>
    4- https://web-eau.net/en/blog/10-best-footer-html-css-snippets
    <br>
    5- https://www.google.com/search?q=javascript+how+to+get+a+button+value&sca_esv=dafc1e29cd1898fe&rlz=1C1VDKB_enMX1056MX1056&udm=2&prmd=vinsbmtz&source=lnms&sa=X&ved=2ahUKEwjNzKq81fKFAxWW_8kDHROQDcMQ0pQJegQIAhAG&biw=960&bih=961&dpr=1#vhid=EwOX3qv1aURHbM&vssid=mosaic
    <br>
    6- https://www.w3schools.com/mysql/mysql_delete.asp
    <br>
    7- https://getbootstrap.com/docs/5.3/components/buttons/
    <br>
    8- https://www.youtube.com/watch?v=6tWtNYsqXL4
<hr class="border- color:blue border-4 opacity-100" />

</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer-dark">
    <footer class="mi-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <br>
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="">Terminos y condiciones</a></li>
                        <li><a href="https://mail.google.com/">Correo</a></li>
                        <li><a href="">Nuestros datos</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <br>
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Trabajo</a></li>
                        <li><a href="#">Referencias bibliograficas</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <br>
                    <h3>Tenis perros</h3>
                    <p>
                        <b>Una página nueva que puede presentar tenis que llegaran a estar a la venta en un futuro proximo.</b>
                    </p>
                </div>
                <div class="col item social">
                    <pre></pre> <a href="#"><i class="icon ion-social-facebook"></i></a
                ><a href="#"><i class="icon ion-social-twitter" ></i></a
                ><a href="#"><i class="icon ion-social-snapchat"></i></a
                ><a href="#"><i class="icon ion-social-instagram"></i></a>
                </div>
            </div>
            <div style="text-align: center;">
                <p class="copyright">Tenis perros© 2024</p>
            </div>
        </div>
    </footer>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
></script>
</body>
</html>