<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/abajito.css">
    <title>Tallas</title>

</head>
<body>

<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">
        <a class="navbar-brand" href="inicio.html">Tenis perros </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"color aria-current="page" href="inicio.html"
                    >Inicio</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="size.html">Tallas</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Contacto
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="login.html">Registro</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="email.html"
                            >Envianos un correo</a
                            >
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                    </ul>
                </li>
            </ul>
            </form>
        </div>
    </div>
</nav>

<br>
<h1 style="text-align: center;">Listado de tallas</h1>
<br>
<center>
    <img src="./img/tallas.png" class="d-block w-25" alt="Contacto"/>

</center>
<br>
<br>
<center>
    <br>
    <h1 style="text-align: center; border: 2px solid;">Guia de tallas de tenis</h1>

    <p style="border: 10px solid "> <b>Encuentra tu ajuste perfecto con nuestra guía de tallas detallada. Asegúrate de medir tu pie para una precisión máxima antes de hacer tu pedido.
        Cómo medir tu pie:

        Coloca una hoja de papel en el suelo contra una pared.
        Pon tu pie sobre la hoja con el talón tocando la pared.
        Marca con un lápiz el punto más largo de tu pie en la hoja.
        Mide desde el borde de la hoja hasta la marca y compara con nuestra tabla de tallas.</p>
</center></b>
<br>
<br>
<br>
<div class="footer-dark">
    <footer class="mi-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <br>
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="">Terminos y condiciones</a></li>
                        <li><a href="https://mail.google.com/">Correo</a></li>
                        <li><a href="">Nuestros datos</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <br>
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Trabajo</a></li>
                        <li><a href="reference.html">Referencias bibliograficas</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <br>
                    <h3>Tenis perros</h3>
                    <p>
                        <b>Una página nueva que puede presentar tenis que llegaran a estar a la venta en un futuro proximo.</b>
                    </p>
                </div>
                <div class="col item social">
                    <pre></pre> <a href="#"><i class="icon ion-social-facebook"></i></a
                ><a href="#"><i class="icon ion-social-twitter" ></i></a
                ><a href="#"><i class="icon ion-social-snapchat"></i></a
                ><a href="#"><i class="icon ion-social-instagram"></i></a>
                </div>
            </div>
            <center>
                <p class="copyright">Tenis perros© 2024</p>
            </center>
        </div>
    </footer>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
    ></script>
</body>
</html>
